venv
*.pt
C:\Users\Acer\OneDrive\Desktop\Drishti-AI\Drishti-AI\run.ps1
C:\Users\Acer\OneDrive\Desktop\Drishti-AI\Drishti-AI\setup.ps1
C:\Users\Acer\OneDrive\Desktop\Drishti-AI\Drishti-AI\start-all.ps1
C:\Users\Acer\OneDrive\Desktop\Drishti-AI\Drishti-AI\start-dev.bat
C:\Users\Acer\OneDrive\Desktop\Drishti-AI\Drishti-AI\.env